<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautyBook | Hair Salon</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="page">

    <header class="header">

        <a href="/" class="logo">
            ✂ Beauty <span>Salon</span>
        </a>

        <div class="header-right">

            <a href="/login" class="btn btn-outline">Login</a>

            <a href="/register" class="btn btn-purple">Register</a>

        </div>

    </header>

    <main class="hero">

        <div class="hero-small">WELCOME TO</div>

        <h1>Beauty <span>Salon</span></h1>

        <p>
            Your beauty is our passion.
            Book your appointment and let our professional stylists
            help you look and feel your best.
        </p>

        <div class="hero-buttons">
            <a href="/login" class="btn btn-purple">Login</a>
            <a href="/register" class="btn btn-outline">Register</a>
        </div>

    </main>
    <footer class="footer">

        <div style="display:flex;
                justify-content:center;
                align-items:flex-start;
                gap:30px;
                flex-wrap:wrap;">

            <div>
                <h3>🕒 Working Hours</h3>
                <p>Mon – Fri: 09:00 – 19:00</p>
                <p>Sat: 10:00 – 17:00</p>
            </div>

            <div>
                <h3>📞 Contact</h3>
                <p>📱 +359 888 123 456</p>
                <p>📧 contact@beautybook.com</p>
            </div>

        </div>

        <p style="margin-top:3px; font-size:10px; opacity:0.7;">
            © 2026 BeautyBook
        </p>

    </footer>


</div>

</body>
</html>