<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile | Beauty Salon</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="page">

    <header class="header">
        <a href="/dashboard" class="logo">✂ Beauty <span>Salon</span></a>

        <nav class="nav">
            <a href="/dashboard" class="btn btn-outline">Dashboard</a>
            <a href="/dashboard" class="btn btn-outline">Dashboard</a>
            <a href="/appointments/create" class="btn btn-purple">Book Appointment</a>

            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button class="btn btn-outline" type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <main class="form-wrapper">

        <section class="form-card">
            <h2>My Profile</h2>
            <p>Your account information</p>

            <label>Username</label>
            <input type="text" th:value="${username}" readonly>

            <label>Role</label>
            <input type="text" value="Logged User" readonly>

            <div class="form-link">
                <a href="/dashboard">Back to Dashboard</a>
            </div>
        </section>

    </main>

</div>

</body>
</html>